.header-logo {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 120px;
}

@media (max-width:991px) {
    .header-hide {
        position: fixed;
        visibility: hidden;
    }
}

.navbar-toggle-position {
    right: 5%;
    top: 45px;
}

@media (min-width:992px) {
    .nav-hide {
        position: absolute;
        visibility: hidden;
    }
}

.footer-social:hover {
    color: var(--bs-light) !important;
}

.custom-dropdown-items:hover {
    background-color: var(--bs-primary);
    color: var(--bs-gray-500) !important;
}

.nav-item .active {
    font-weight: 900 !important;
}

.nav-item .nav-link {
    font-weight: 400;
}

.services-header div.background-cover {
    background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?crop=entropy&cs=srgb&fm=jpg&ixid=M3wyMDkyMnwwfDF8c2VhcmNofDN8fGNvbXB1dGVyfGVufDB8fHx8MTcwNTc0MzE4N3ww&ixlib=rb-4.0.3&q=85');
}

.services-header h1 {
    font-family: 'Inter', sans-serif;
}

.web-description {
    font-family: 'Inter', sans-serif;
}

.web-stack-description {
    font-family: 'Antonio', sans-serif !important;
}

.custom-divider {
    padding-bottom: 30px;
    border-bottom: 3px solid #ffffff;
    margin-bottom: 30px;
}

.process-header .background-center-center {
    background-image: url('https://images.unsplash.com/photo-1589995186053-91d65273cd68?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDkyMnwwfDF8c2VhcmNofDU5fHxibGFjayUyMGFuZCUyMHdoaXRlJTIwY29tcHV0ZXJ8ZW58MHx8fHwxNzA1ODk1NjY0fDA&ixlib=rb-4.0.3&q=80&w=1080');
}

.process-header h1 {
    font-family: 'Inter', sans-serif;
}

.webtest-header div {
    background-image: url('https://images.unsplash.com/photo-1515169040891-100d5a84502c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDkyMnwwfDF8c2VhcmNofDE4fHxwaG9uZSUyMGRhcmt8ZW58MHx8fHwxNzA1ODk3Nzc3fDA&ixlib=rb-4.0.3&q=80&w=1080');
}

.webtest-header h1 {
    font-family: 'Inter', sans-serif;
}

.process-description-section h6 {
    font-family: 'Inter', sans-serif;
}

.home-topper .block1 {
    width: 450px;
}

.home-topper .block1 h5 {
    font-family: 'Open Sans', sans-serif;
}

.home-topper .block1 h2 {
    font-family: 'Inter', sans-serif;
}

.home-topper .block2 {
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyMDkyMnwwfDF8c2VhcmNofDF8fHRlY2h8ZW58MHx8fHwxNzA1ODMwNzQzfDA&ixlib=rb-4.0.3&q=80&w=1080');
}

.home-topper .block2 h1 {
    font-family: 'Antonio', sans-serif;
}

.home-topper .block3 h3 {
    font-family: 'Open Sans', sans-serif;
}

.home-topper .block3 img {
    border-radius: 70px;
}

.home-topper .block4 h2 {
    font-family: 'Open Sans', sans-serif;
}

.home-topper .block5 .picture-div {
    height: 100%;
}

.home-topper .block5 h2 {
    font-family: 'Inter', sans-serif;
}

.home-topper .block5 .home-column-link {
    font-family: 'Inter', sans-serif;
}

.home-topper .block6 .picture-div {
    height: 100%;
}

.home-topper .block6 h2 {
    font-family: 'Inter', sans-serif;
}

.home-topper .block6 .home-column-link {
    font-family: 'Inter', sans-serif;
}